events {}
http {
server {
     listen 80;
     server_name  {{ url }} www.{{ url }};
     return 301 https://{{ url }}$request_uri;
}
server {
     listen [::]:443 ssl http2;
     listen 443 ssl http2;
     server_name {{ url }} www.{{ url }};
     ssl_certificate {{ ssl_sertificate }};
     ssl_certificate_key {{ ssl_certificate_key }};
     location / {
         proxy_pass http://app.service:5000;
         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection 'upgrade';
         proxy_set_header Host $host;
         proxy_cache_bypass $http_upgrade;
         #add_header Content-Security-Policy "img-src * 'self' data: blob: https:; default-src 'self' https://*.goo$"
         add_header X-Xss-Protection '1; mode=block' always;
         add_header X-Frame-Options 'SAMEORIGIN' always;
         add_header X-Content-Type-Options 'nosniff' always;
         add_header Access-Control-Allow-Origin 'https://{{ url }}';
         add_header Referrer-Policy 'origin-when-cross-origin' always;
         add_header Strict-Transport-Security 'max-age=31536000; includeSubdomains; preload';
                }
}

}
