[Unit]
Description=app.service

[Service]
Restart=on-failure
RestartSec=30
StartLimitBurst=8
StartLimitInterval=300
TimeoutStartSec=0
TimeoutStopSec=30
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=/bin/sh -c '> /tmp/%n.env'
ExecStartPre=-/usr/bin/docker pull gcr.io/foxforfun/{{ app_version }}
ExecStart=/usr/bin/docker run \
    --rm \
    --name %n \
    --net backbone \
    --env-file=/tmp/%n.env \
    -p 5000:5000 \
    gcr.io/foxforfun/{{ app_version }}
ExecStop=/usr/bin/docker stop %n